{% load static %}
<div class="gtco-section">
			<div class="gtco-container">
				<div class="row">
					<div class="col-md-8 col-md-offset-2 gtco-heading text-center">
						<h2>Üniversiteye dair her şey.</h2>
						<p>Ders notları, ödev & proje yardımı, üniversite etkinlikleri...</p>
					</div>
				</div>
				<div class="row">




					<div class="col-md-12">
						<div class="">
                            {% for rs in daynotes %}
							<div class="item">
								<div class="gtco-item">
									<a href="/note/{{ rs.id }}/{{ rs.slug }}"><img src="{{rs.image.url}}" alt="" class="img-responsive" style="height: 400px"></a>
									<h2><a href="#">{{rs.title}}</a></h2>
									<p class="role">{{rs.description}}</p>
								</div>
							</div>

                            {% endfor %}

						</div>
					</div>



				</div>
			</div>
		</div>
		<!-- END Work -->


