{% load static %}
<header>
    <nav class="gtco-nav" role="navigation">
			<div class="gtco-container">

				<div class="row">
					<div class="col-sm-2 col-xs-12">
						<div id="gtco-logo"><a href="index.html">Not Paylaşım</div>
					</div>
					<div class="col-xs-10 text-right menu-1">
						<ul>
							<li class="active"><a href="/">Anasayfa</a></li>
							<li><a href="/hakkimizda">Hakkımızda</a></li>
							<li class="has-dropdown">
								<a href="services.html">Notlar</a>
								<ul class="dropdown">
									<li><a href="#">Web Design</a></li>
									<li><a href="#">eCommerce</a></li>
									<li><a href="#">Branding</a></li>
									<li><a href="#">API</a></li>
								</ul>
							</li>

							<li><a href="/referanslar">Referanslar</a></li>
							<li><a href="/iletisim">İletişim</a></li>
						</ul>
					</div>
				</div>

			</div>
		</nav>
</header>