{% extends 'homebase.html' %}
{% block title %}{{ profile.user_name }} {% endblock %}
{% block keywords %} {{ setting.keywords }} {% endblock %}
{% block description %} {{ setting.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}' />
{% endblock %}


{% block slider %} {% include "slider.html" %} {% endblock %}

{% block content %}

    <div id="breadcrumb">
		<div class="container">
			<ul class="breadcrumb">
                <li class="active">
						<h2>User Profile</h2>
			</ul>
        </div>
    </div>

    <div class="section">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    {% include "user_panel.html" %}
                </div>
                <div class="col-md-9">
                    <div class="section-title">
                        <h4 class="title"> Şifre Değiştir </h4>
                    </div>



                    <form method="post">
                        {% csrf_token %}

                        {% for field in form %}
                            <p>
                                {{ field.label_tag }}<br>
                                {{ field }}
                                {% if field.help_text %}
                                    <small style="color: grey">{{ field.help_text }}</small>
                                {% endif %}
                                {% for error in field.errors %}
                                    <p style="">{{ error }}</p>
                                {% endfor %}
                            </p>
                        {% endfor %}

                        <button class="button" type="submit">Değişiklikleri Kaydet</button>
                    </form>

                </div>

            </div>
        </div>
    </div>

{% endblock %}